<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2016 大连锦霖科技有限公司
   -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="DistributorsAudit">
    <resultMap id="DistributorsAuditMap" type="com.nowbook.sdp.model.DistributorsAudit">
        <id property="id" column="id"/>
        <result property="distributorsId" column="distributors_id"/>
        <result property="auditStatus" column="audit_status"/>
        <result property="auditTime" column="audit_time"/>
        <result property="auditPeople" column="audit_people"/>
    </resultMap>

    <sql id="columns">
        distributors_id,audit_status,audit_time,audit_people
    </sql>

    <update id="updateAuditStatus" parameterType="map">
        update distributors_audit
        set audit_time = now(),
        audit_status=#{auditStatus}
        where distributors_id = #{id}
    </update>

    <insert id="disAuditCreat" parameterType="Long">
        insert into distributors_audit (
        <include refid="columns"/>
        )
        values (#{id},0, now(),'')
    </insert>

</mapper>