<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">

<mapper namespace="PaymentDetailDayMapper">
    <resultMap id="PaymentDetailDayMap" type="com.nowbook.sdp.model.PaymentDetailDay">
        <id property="id" column="id"/>
        <result property="idNo" column="id_no"/>
        <result property="fee" column="fee"/>
        <result property="commissionRate" column="commission_rate"/>
        <result property="commissionFee" column="commission_fee"/>
        <result property="totalFee" column="total_fee"/>
        <result property="totalNum" column="total_num"/>
        <result property="successNum" column="success_num"/>
        <result property="failNum" column="fail_num"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
    </resultMap>

    <sql id="columns">
        id_no,fee,commission_rate,commission_fee,total_fee,total_num,success_num,fail_num,create_at,update_at
    </sql>

    <sql id="condition">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="idNo != null">
                AND id_no = #{idNo}
            </if>
            <if test="createStartAt != null">
                AND create_at >= #{createStartAt}
            </if>
            <if test="createEndAt != null">
                AND #{createEndAt} >= create_at
            </if>
        </where>
    </sql>

    <insert id="create" parameterType="com.nowbook.sdp.model.PaymentDetailDay" useGeneratedKeys="true" keyProperty="id">
        insert into payment_detail_day ( <include refid="columns"/>)
        values (#{idNo},#{fee},#{commissionRate},#{commissionFee},#{totalFee},#{totalNum},#{successNum},#{failNum},now(),now())
    </insert>

    <update id="update" parameterType="com.nowbook.sdp.model.PaymentDetailDay">
        update  payment_detail_day
        <set>
            <if test="idNo!=null">id_no = #{idNo},</if>
            <if test="fee!=null">fee = #{fee},</if>
            <if test="commissionRate!=null">commission_rate = #{commissionRate},</if>
            <if test="commissionFee!=null">commission_fee = #{commissionFee},</if>
            <if test="totalFee!=null">total_fee = #{totalFee},</if>
            <if test="totalNum!=null">total_num = #{totalNum},</if>
            <if test="successNum!=null">success_num = #{successNum},</if>
            <if test="failNum!=null">fail_num = #{failNum},</if>
            update_at = now()
        </set>
        where id=#{id}
    </update>

    <select id="findBy" resultMap="PaymentDetailDayMap" parameterType="com.nowbook.sdp.model.PaymentDetailDay">
        select id,<include refid="columns"/> from payment_detail_day <include refid="condition"/> limit #{offset},#{limit}
    </select>

    <select id="countPaymentDetailDay" resultType="java.lang.Long" parameterType="com.nowbook.sdp.model.PaymentDetailDay">
        select count(*) from payment_detail_day <include refid="condition"/>
    </select>
</mapper>
