<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="UserTeamMemberMapper" >
    <resultMap id="UserTeamMemberMap" type="com.nowbook.sdp.model.UserTeamMember" >
        <id column="id" property="id" />
        <result column="team" property="team"/>
        <result column="member" property="member"/>
        <result column="role" property="role"/>
        <result column="nick" property="nick"/>
        <result column="create_at" property="createAt"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>

    <sql id="columns" >
        team, member,role,nick,create_at,update_at
    </sql>


    <select id="selectBy" parameterType="com.nowbook.sdp.model.UserTeamMember" resultMap="UserTeamMemberMap">
        SELECT id,<include refid="columns"/> FROM user_team_member
        <where>
            <if test="member != null and member != ''">
                AND member = #{member}
            </if>
            <if test="role != null and role != ''">
                AND role = #{role}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.nowbook.sdp.model.UserTeamMember">
        INSERT INTO user_team_member (<include refid="columns"/>)
        VALUES (#{team}, #{member}, #{role}, #{nick}, now(), now())
    </insert>

    <delete id="deleteByMember" parameterType="com.nowbook.sdp.model.UserTeamMember" >
        DELETE FROM user_team_member WHERE member = #{member}
    </delete>

    <update id="updateByMember" parameterType="com.nowbook.sdp.model.UserTeamMember" >
        UPDATE user_team_member
        <set >
            <if test=" team != null" >
                team = #{team},
            </if>
            <if test="role != null" >
                role = #{role},
            </if>
            <if test="nick != null" >
                nick = #{nick},
            </if>
            update_at = now()
        </set>
        WHERE member = #{member}
    </update>
</mapper>