<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2013 大连锦霖科技有限公司
   -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="BrandClubType">
    <resultMap id="brandClubTypeMap" type="brandClubType">
        <id property="id" column="id"/>
        <result property="brandTypeName" column="brandTypeName"/>
        <result property="typeOrder" column="typeOrder"/>
    </resultMap>

    <sql id="columns">
        brandTypeName,typeOrder
    </sql>

    <select id="findAllBy" resultMap="brandClubTypeMap">
        select id,
        <include refid="columns"/>
        from brand_club_type order by typeOrder asc;
    </select>

</mapper>