<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2012 大连锦霖科技有限公司
  -->

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!--user related entity-->
        <typeAlias alias="User" type="com.nowbook.user.model.User"/>
        <typeAlias alias="UserProfile" type="com.nowbook.user.model.UserProfile"/>
        <typeAlias alias="UserExtra" type="com.nowbook.user.model.UserExtra"/>
        <typeAlias alias="Address" type="com.nowbook.user.model.Address"/>
        <typeAlias alias="UserAccountSummary" type="com.nowbook.user.model.UserAccountSummary"/>

        <!--item related entity-->
        <typeAlias alias="Item" type="com.nowbook.item.model.Item"/>
        <typeAlias alias="ItemDetail" type="com.nowbook.item.model.ItemDetail"/>
        <typeAlias alias="Sku" type="com.nowbook.item.model.Sku"/>
        <typeAlias alias="ItemBundle" type="com.nowbook.item.model.ItemBundle"/>
        <typeAlias alias="SpuBundle" type="com.nowbook.item.model.SpuBundle"/>
        <typeAlias alias="TitleKeyword" type="com.nowbook.item.model.TitleKeyword"/>

        <!--trade related entity-->
        <typeAlias alias="Order" type="com.nowbook.trade.model.Order"/>
        <typeAlias alias="OrderExtra" type="com.nowbook.trade.model.OrderExtra"/>
        <typeAlias alias="OrderItem" type="com.nowbook.trade.model.OrderItem"/>
        <typeAlias alias="Delivery" type="com.nowbook.trade.model.Delivery"/>
        <typeAlias alias="Comment" type="com.nowbook.trade.model.Comment"/>
        <typeAlias alias="UserTradeInfo" type="com.nowbook.trade.model.UserTradeInfo"/>
        <typeAlias alias="OrderComment" type="com.nowbook.trade.model.OrderComment"/>
        <!-- freight entity -->
        <typeAlias alias="FreightModel" type="com.nowbook.trade.model.FreightModel"/>
        <typeAlias alias="LogisticsSpecial" type="com.nowbook.trade.model.LogisticsSpecial"/>
        <typeAlias alias="LogisticsInfo" type="com.nowbook.trade.model.LogisticsInfo"/>
        <typeAlias alias="LogisticsRevert" type="com.nowbook.trade.model.LogisticsRevert"/>

        <!-- site related entity-->
        <typeAlias alias="UserImage" type="com.nowbook.user.model.UserImage"/>
        <typeAlias alias="UserQuota" type="com.nowbook.user.model.UserQuota"/>

        <typeAlias alias="Shop" type="com.nowbook.shop.model.Shop"/>
        <typeAlias alias="ShopExtra" type="com.nowbook.shop.model.ShopExtra"/>
        <typeAlias alias="ShopCategory" type="com.nowbook.shop.model.ShopCategory"/>
        <typeAlias alias="ShopInteriorCategory" type="com.nowbook.shop.model.ShopInteriorCategory"/>
        <typeAlias alias="ShopPaperwork" type="com.nowbook.shop.model.ShopPaperwork"/>

        <!--brand related entity-->
        <typeAlias alias="Brand" type="com.nowbook.item.model.Brand"/>

        <!--settlement related entity-->
        <typeAlias alias="DepositFee" type="com.nowbook.rlt.settle.model.DepositFee"/>
        <typeAlias alias="DepositAccount" type="com.nowbook.rlt.settle.model.DepositAccount"/>
        <typeAlias alias="Settlement" type="com.nowbook.rlt.settle.model.Settlement"/>
        <typeAlias alias="ItemSettlement" type="com.nowbook.rlt.settle.model.ItemSettlement"/>
        <typeAlias alias="DailySettlement" type="com.nowbook.rlt.settle.model.DailySettlement"/>
        <typeAlias alias="SellerSettlement" type="com.nowbook.rlt.settle.model.SellerSettlement"/>
        <typeAlias alias="AlipayCash" type="com.nowbook.rlt.settle.model.AlipayCash"/>
        <typeAlias alias="SellerAlipayCash" type="com.nowbook.rlt.settle.model.SellerAlipayCash"/>
        <typeAlias alias="OrderAlipayCash" type="com.nowbook.rlt.settle.model.OrderAlipayCash"/>
        <typeAlias alias="SettleJob" type="com.nowbook.rlt.settle.model.SettleJob"/>
        <typeAlias alias="PreSale" type="com.nowbook.rlt.presale.model.PreSale"/>
        <typeAlias alias="BusinessRate" type="com.nowbook.rlt.settle.model.BusinessRate"/>
        <typeAlias alias="ShopAuthorizeInfo" type="com.nowbook.rlt.grid.model.ShopAuthorizeInfo"/>
        <typeAlias alias="BrandsSellers" type="com.nowbook.rlt.grid.model.BrandsSellers"/>
        <typeAlias alias="StorageStock" type="com.nowbook.rlt.presale.model.StorageStock"/>
        <typeAlias alias="AddressStorage" type="com.nowbook.rlt.presale.model.AddressStorage"/>

        <!--coupon related entity-->
        <typeAlias alias="Coupon" type="com.nowbook.rlt.coupon.model.Coupon"/>
        <typeAlias alias="CouponUsage" type="com.nowbook.rlt.coupon.model.CouponUsage"/>

        <typeAlias alias="ActivityDefinition" type="com.nowbook.rlt.code.model.ActivityDefinition"/>
        <typeAlias alias="ActivityCode" type="com.nowbook.rlt.code.model.ActivityCode"/>
        <typeAlias alias="CodeUsage" type="com.nowbook.rlt.code.model.CodeUsage"/>
        <typeAlias alias="ActivityBind" type="com.nowbook.rlt.code.model.ActivityBind"/>

        <!-- 净水处理 -->
        <typeAlias alias="PurifySeries" type="com.nowbook.rlt.purify.model.PurifySeries"/>
        <typeAlias alias="PurifyCategory" type="com.nowbook.rlt.purify.model.PurifyCategory"/>
        <typeAlias alias="PurifyAssembly" type="com.nowbook.rlt.purify.model.PurifyAssembly"/>
        <typeAlias alias="PurifyRelation" type="com.nowbook.rlt.purify.model.PurifyRelation"/>


        <typeAlias alias="AlipayTrans" type="com.nowbook.rlt.settle.model.AlipayTrans"/>
        <typeAlias alias="AlipayTransLoad" type="com.nowbook.rlt.settle.model.AlipayTransLoad"/>
        <typeAlias alias="AbnormalTrans" type="com.nowbook.rlt.settle.model.AbnormalTrans"/>
        <typeAlias alias="DepositFeeCash" type="com.nowbook.rlt.settle.model.DepositFeeCash"/>
        <typeAlias alias="BrandsSellers" type="com.nowbook.rlt.grid.model.BrandsSellers"/>
        <typeAlias alias="ShopAuthorizeInfo" type="com.nowbook.rlt.grid.model.ShopAuthorizeInfo"/>
        <typeAlias alias="UnitBrand" type="com.nowbook.rlt.grid.model.UnitBrand"/>
        <typeAlias alias="UnitSeller" type="com.nowbook.rlt.grid.model.UnitSeller"/>
        <typeAlias alias="UserVatInvoice" type="com.nowbook.trade.model.UserVatInvoice"/>
        <typeAlias alias="DeliveryMethod" type="com.nowbook.trade.model.DeliveryMethod"/>
        <!--晒单-->
        <typeAlias alias="BaskOrder" type="com.nowbook.trade.model.BaskOrder"/>
        <typeAlias alias="ThirdUser" type="com.nowbook.third.model.ThirdUser"/>



        <typeAlias alias="ThirdUser" type="com.nowbook.third.model.ThirdUser"/>

        <!-- 抢购活动 -->
        <typeAlias alias="BuyingActivityDefinition" type="com.nowbook.rlt.buying.model.BuyingActivityDefinition"/>
        <typeAlias alias="BuyingItem" type="com.nowbook.rlt.buying.model.BuyingItem"/>
        <typeAlias alias="BuyingOrderRecord" type="com.nowbook.rlt.buying.model.BuyingOrderRecord"/>
        <typeAlias alias="BuyingTempOrder" type="com.nowbook.rlt.buying.model.BuyingTempOrder"/>

        <typeAlias alias="ThirdUser" type="com.nowbook.third.model.ThirdUser"/>

        <!-- 抢购活动 -->
        <typeAlias alias="BuyingActivityDefinition" type="com.nowbook.rlt.buying.model.BuyingActivityDefinition"/>
        <typeAlias alias="BuyingItem" type="com.nowbook.rlt.buying.model.BuyingItem"/>
        <typeAlias alias="BuyingOrderRecord" type="com.nowbook.rlt.buying.model.BuyingOrderRecord"/>
        <typeAlias alias="BuyingTempOrder" type="com.nowbook.rlt.buying.model.BuyingTempOrder"/>

    </typeAliases>
</configuration>
