<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2012 大连锦霖科技有限公司
  -->

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="Notice" type="com.nowbook.notice.model.Notice"/>

        <typeAlias alias="NoticeReadTime" type="com.nowbook.notice.model.NoticeReadTime"/>

    </typeAliases>
</configuration>
